/* * {
    border: 2px solid red;
} */

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    margin: auto;
    background-color: #FAF9F6;
}

ul {
    display: inline-block;
    list-style-type: none;
}

li {
    padding: 15px;
    float: right;
}

button {
    background-color: rgba(160, 200, 68, 1);
    color: white;
    text-decoration: none;
    padding: 18px 48px 18px;
    font-size: 16px;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

.desc {
    max-width: 35%;
    text-align: center;
    margin: auto auto auto;
}
/* img {
    background-image: linear-gradient(to left, rgba(117, 19, 93, .73), rgba(245, 246, 252, 0.52));
    background-size: cover;
} */

.navlist {
    display: flex;
    position: absolute;
    margin-top: 30px;
}

.name {
    font-family: "Aller Display";
    font-size: 36px;
    color: rgba(160, 200, 68, 1);
    text-align: left;
    justify-content: left;
    position: absolute;
    margin-top: 35px;
    margin-right: 1100px;
}

.contact {
    position: absolute;
    margin-left: 1250px;
    margin-top: 25px;
    background-color: rgba(160, 200, 68, 0.0);
    border: 1.5px solid white;
}

#header {
    color: white;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

#home {
    position: absolute;
    text-align: left;
    margin-top: 300px;
    margin-left: 700px;
}

.story {
    color: white;
    display: inline-flex;
    justify-content: left;
    flex-wrap: nowrap;
    position: relative;
}

.img {
    position: absolute;
    z-index: 0;
}

.first {
    color: white;
    font-size: 46px;
    margin: 0px 0px 0px;
}

#service {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-columns: 100px 50px 50px; */
    grid-template-rows: 2fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

h5 {

}

/* .skills {
    position: absolute;
} */

.single-chart {
    display: inline-flex;
    width: 13%;
    justify-content: space-around;
  }

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
0% {
    stroke-dasharray: 0 100;
    }
}

.circular-chart.red .circle {
    stroke: red;
}

.circular-chart.purple .circle {
    stroke: purple;
}

.circular-chart.blue .circle {
    stroke: blue;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}
  
.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.product {
    position: absolute;
    justify-content: space-around;
    margin: 120px 15px 50px;
    padding: 0px 15px 0px;
    max-width: 136px;
}

#photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: stretch;
}

.photo {
    margin: auto auto auto;
    padding: 5px;
    justify-content: stretch;
}

#hireme {
    display: inline-block;
}

.container {
    color: white;
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
}

.footbg {
    position: absolute;
    z-index: -1;
}

.support {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {

    body {
        max-width: 576px;
        font-size: 36px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        place-items: center;
    }

    div {
        grid-column: auto;
        grid-row: auto;
    }

    img {
        max-width: 1vh;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    ...;
  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    ...;
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    ...;
  }
